<div class="row">
  <table class="table table-striped w-50 mx-auto">
    <thead class="thead-inverse">
    <tr>
      <th>ID</th>
      <th>Name</th>
      <th>Email</th>
      <th>Address</th>
      <th>Phone</th>
      <th>Id Card</th>
      <th>Gender</th>
      <th>Birth Day</th>
      <th>Code Number</th>
      <th>Customer Type</th>
      <th></th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let cus of customers">
      <td>{{cus.id}}</td>
      <td>{{cus.name}}</td>
      <td>{{cus.email}}</td>
      <td>{{cus.address}}</td>
      <td>{{cus.phone}}</td>
      <td>{{cus.idCard}}</td>
      <td>{{cus.gender}}</td>
      <td>{{cus.birthDay}}</td>
      <td>{{cus.codeNumber}}</td>
      <td>{{cus.customerType}}</td>
      <td>
      <td>
        <button type="button" class="btn btn-light">
          <a [routerLink]="['/customer/edit',cus.id]">edit</a>
        </button>
      </td>
<!--      <td>-->
<!--        <button type="button" class="btn btn-danger btn-delete" data-toggle="modal"-->
<!--                data-target="#deleteModal" th:data-id123="${customer.id}"-->
<!--                th:data-name="${customer.customerName}">Delete-->
<!--        </button>-->
<!--      </td>-->
<!--      <td>-->
<!--        <button type="button" class="btn btn-light">-->
<!--          <a th:href="@{/customer/{id}/view(id=${customer.getId()})}">View</a>-->
<!--        </button>-->


    </tr>

    </tbody>

  </table>
</div>
